.progress_bar_container {
	width: 100%;
	background-color: #e0e0e0;
	border-radius: var(--radius);
	overflow: hidden;
	margin-top: 10px;
}

.progress_bar {
	height: 20px;
	background-color: yellow;
	width: 0;
	border-radius: var(--radius);
	transition: width 0.3s ease;
}
